<div class="container">
  <h1>search results: <%= @searchdata %> as follows</h1>
  <%= render 'formindex' %>
  <%= link_to 'Add a new packet', new_net_packet_path ,class: "btn btn-secondary" %>
  <%= link_to 'back', net_packets_path , class: "btn btn-primary" %> 
</div>